/* Styles for the index page */
.story {
    width: 70rem;
    text-align: center;
    margin: auto;
    font-size: 2rem;
}

.vision {
    width: 25rem;
    font-size: 2rem;
    float: left;
    margin-left: 7rem;
    margin-right: 8rem;
    margin-top: 5rem;
    text-align: center;
}

.partners {
    width: 70rem;
    text-align: center;
    margin: auto;
    font-size: 2rem;
}

.video {
    margin-top:3rem;    
}

