/* Styles for the location page */

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 895px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 895px;
}

header.page-header {
    height: 70rem;
}

.input {
    width: 75%;
}