
/* Styles for the page navigation bar */

nav.page-nav {
    background-color: #fff;
    line-height: 6rem;
    font-size: 1.7rem;
    box-shadow: 0px 0px 1px 0px black;
}

nav.page-nav .navcontainer {
    display: -ms-flexbox;
    display: flex;
    margin-left:0px;
}

nav.page-nav a {
    display: grid;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

nav.page-nav a.active {
    color:forestgreen;
}

nav.page-nav a:hover:before{
    color: limegreen;
    transform: scaleX(1);
}

nav.page-nav a.active:before {
    transform: scaleX(1);
}

nav.page-nav a:before {
    content: "";
    color: limegreen;
    position: absolute;
    top: calc(30% + 1.15em);
    width: 100%;
    border-top-style: solid;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

nav.page-nav .nav-list{
    display: inline-flex;
    float: left;
    list-style: none;
}

nav.page-nav .list-item{
    padding-right: 10rem;
    inline-size: max-content;
}

nav.page-nav .Logo {
    width: 150px;
    float: left;
}

nav.page-nav .social {
    width:21px;
}

nav.page-nav .social_link {
    margin-top:17px;
}

@media screen and (min-width: 1750px) {
    nav.page-nav .Logo {
        margin-left: 300px;
    }
}

/*@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 770px) {

}*/
